  
 /* .jumbotron {
        Margin: 20px;
  }
    */
  .jumbo {
      position: relative;
      left: 500px
  }
  .startbutton{
    position: relative;
    right: 550px
  }
  .lead{
    position: relative;
    right: 140px
  }